<div id="page-container">
    <h1 class="title" style="color: white">Welcome to the Smite VGS Trainer!</h1>

    <p id="score">Score: <span id="score-display">0</span></p>
    <p id="challenge">You Need to find: <span id="challenge-display"></span></p>
    <div id="input-container">
    Input Command
    </div>

    <div id="options">
        <ul id="option-list">
        </ul>
    </div>

    <div id='padder'>
    </div>

    <footer style="text-align:center">
        <div id="controls">
            <p>
            Enter: Clear input and get new challenge, 
            Space: Clear input, 
            /: Show Challenge VGS
            </p>
        </div>

        <div id="name">
        <p>
            <strong style="color:white">Smite VGS Trainer</strong> created by <a href="https://github.com/maxs-rose" target="_blank">Max Rose</a> has no affiliation to HiRez or Smite.
        </p>
        </div>
    </footer>
<div>