// Place all the styles related to the Trainer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$bgCol: #073b4c;
$lightBlue: #118ab2;
$sucess: #06d6a0;
$gold: #ffd166;
$grey: #404040;
$red: #ef476f;

html{
    background-color: white;
    color: $grey;
}

.highlight
{
    background-color: $sucess;
}